.container{
    max-width: none !important;
}

.banner{
    background-image: url('../images/dogbanner.jpg');
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.whitetext{
    color: white;
}

.icon-banner{
    background-color: rgb(99, 192, 106);
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    margin: auto
}

.icon{
    color: white;
    margin: auto auto;
    font-size: 50px;
}

.smallfont{
    font-size: 18px;
}

.smallerfont{
    font-size: 12px;
}


.margin-top-5{
    margin-top: 5%;
}

.line{
    margin-top: 20px;
    border-top: 2px solid grey;
    width: 30%;
}