body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: none !important;
}

.banner{
    background-image: url('../images/dogbanner.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 80vh;
}

.whitetext{
    color: white;
}

.icon-banner{
    background-color: rgb(146, 130, 206);
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    margin: auto
}

.icon{
    color: white;
    margin: auto auto;
    font-size: 50px;
}

.smallfont{
    font-size: 18px;
}

.smallerfont{
    font-size: 12px;
}


.margin-top-5{
    margin-top: 5%;
}

.line{
    margin-top: 20px;
    border-top: 2px solid grey;
    width: 22%;
}

.purple-font{
 color: rgb(117, 105, 160);   
}

.dog-img{
    height: 200px;
}